<footer>
  <ul class='socialMedia'>
    {%- if site.github -%}
      <li class='socialMedia_item'>
        <a href='https://github.com/{{ site.github.username }}/{{ site.github.repository_name }}' title='Github repository' target='_blank'>
          <span class='icon -github'>{% include svg/icon-github.svg %}</span>
        </a>
      </li>
    {%- endif -%}

    {%- if site.netlify -%}
    <li class='socialMedia_item'>
      <a href='https://{{ site.netlify.project_name }}.netlify.com' title='Netlify project' target='_blank'>
        <span class='icon -netlify'>{% include svg/icon-netlify.svg %}</span>
      </a>
    </li>
    {%- endif -%}
  </ul>
</footer>
